JULEP_API_KEY=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI5ZjAyY2QwZC1kZjg1LTUyNmQtYjEzNi1kNjA2NGU3YmVlZTIiLCJlbWFpbCI6InNhaGlsMDYyMDJAZ21haWwuY29tIiwiaWF0IjoxNzUxODcwMTQ4LCJleHAiOjE3NTI0NzQ5NDh9.zFKO3KPL0C1XvoKoNZiY-MapG_bmkE0R5hz2H2qKqcZSFt36p8JhFZ9eZzNuWQm0-Sh3JQxA0jhaiyiH7Vh1lw
JULEP_ENVIRONMENT=production
API_KEY = eeaef6f66bdb4e6b87b42835250707
DEEPSEEK_API_KEY = sk-9e8166dc34894274a1b87b06fd38fe7a
